@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* General Stuff ------------------------------------------------- */
html{
    font-size: 18px;
} 
*,::before,::after{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--lightgrey-txt) ;
    background-color: var(--body-bg) ;
    line-height: 1.3;
}
/* Typograpy Stuff ------------------------------------------------ */
h1, h2, h3{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:focus{
    outline: none;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0;
}
/* Reuseable Stuff ------------------------------------------------ */
:root{
    --body-bg: #ffffff;
    --purple-txt: #4e00ff;
    --purple-txt2: #4360ff;
    --lightgrey-txt: #b8b8b8;
    --lightgrey-txt2: #888888;
    --lightgrey-txt3: #b3b3b3;
    --lightgrey-txt4: #5a5757;
    --lightgrey-txt5: #9c9c9c;
    --testimonies-card2: #503bff;
    --testimonies-card3: #0d2baa;
    --black-txt: #000000;
    --darkbrown-txt: #323232;
    --darkbrown-txt2: #111111;
    --darkbrown-txt3: #101521;
}
.btns{
    display: inline-block;
    padding: 0.5em 5em;
    height: 54px;
    max-width: 100%;
    border: 0;
    border-radius: 54px;
    color: var(--text-secondary) !important;
    background: var(--btn-bg) !important;
}
.section-tittle{
    font-size: 3rem;
    color: var(--text-lightgrey);
}
.container--showcase{
    margin: 0 auto;
    width: min(1500px,100%);
} 
.aboutus,
.contactus__form,
.product{
    padding-top: 8.5em;
}
/* Direct Styling ----------------------------------------------- */
/* header ------------------------------------------------------- */
header{
    background: var(--body-bg);
}
.shadow-header{
    border-bottom: .3em solid var(--purple-txt2);
    box-shadow: 0 0 8px 1rem rgb(218 213 213 / 30%);
}
.logo img{
    width: 3rem;
}
.hamburger{
    font-size: 2rem;
    color: var(--purple-txt);
    cursor: pointer;
}
.header__link{
    font-size: 1rem;
    color: var(--lightgrey-txt);
    font-weight: 450;
    transition: color .4s linear;
}
.header__list .header__item + .header__item{
    margin-left: 2rem;
}   
.header__link:hover{
    color: var(--purple-txt) !important;
    text-decoration: none;
}
.header__link.active{
    font-weight: 600;
    color: var(--purple-txt) !important;
    text-decoration: none;
}

.showcase__main{
    padding-top: 5em;
    max-height: 90vh;
    overflow: hidden;
}
.showcase__inner{
    height: 100%;
}
.showcase__slider .showcase__slider__content{
    left: 15% !important;
    top: 8%;
    text-align: left !important;
}
.showcase__slider .showcase__slider__indicator{
    margin: 0 !important;
    left: 16% !important;
    bottom: 45%;
    justify-content: flex-start !important;
    align-items: flex-end;
}
.showcase__slider .carousel-indicators li{
    height: .6rem !important;
    width: .15em !important;
    opacity: 1 !important;
    transition: height .5s linear;
}
.showcase__slider .carousel-indicators li:hover,
.showcase__slider .carousel-indicators .active{
    height: 1rem !important;
}
.showcase__slider__content h2{
    font-size: 3rem;
    font-weight: 700;
}
.showcase__title{
    font-size: 2rem;
    color: var(--darkbrown-txt);
    font-weight: 700;
    padding: 0 4em;
}
.showcase__title span{
    color: var(--purple-txt);
}
.card__slides__card__main{
    width: 17rem;
}
.showcase__slider__card{
    max-height: 50rem;
    border-color:  var(--body-bg) !important;
    margin: 0 .6rem;
}
.showcase__slider__card .card-body{
    border: 1px solid rgba(0,0,0,.125);
    border-top:var(--body-bg) !important;
    margin-top: -1.4rem;
    padding-top: 2.9em;
    color: var(--darkbrown-txt);
    border-radius: 0 0 1.8rem 1.8rem !important;
}
.showcase__slider__img{
    max-height: 11rem;
    border-radius: 1.8rem !important; 
}

.showcase__slider__card .card-title{
   font-size: 1.2rem;
   font-weight: 700;
} 
.showcase__slider__card .card-text{
   font-size: .7rem;
   font-weight: 500;
   line-height: 1.8 !important;
} 
.showcase__form__title{
    font-size: 2rem;
    color: var(--black-txt);
    font-weight: 700;
    margin: 2rem 0;
}
.showcase__contact__form{
    padding-left: 1em;
    padding-top: 3em;
}

.showcase__contact__form .form__group .form__group--animate-label input{
    font-size: .9rem;
}

.showcase__contact__form .form__group .form__group--animate-label input:focus + label,
.showcase__contact__form .form__group .form__group--animate-label input:valid + label{
    font-size: .8rem!important;
    transform: translateY(-1.3rem) !important;
}

/* aboutus ----------------------------------------------------- */
.aboutus{
    margin-top: 2rem;
}
.aboutus__showcase{
    background-image: url('../img/aboutbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.aboutus__title{
    font-size: 3rem;
    color: var(--purple-txt);
    font-weight: 800;
    letter-spacing: 1px;
}
.aboutus__text{
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 600;
    color: var(--darkbrown-txt);
}
.wrapper {
    width: min(800px, 60%);
    margin: 0 auto;
}
.wrapper .main__services__social__button{
    display: inline-block;
    height:50px;
    width: 50px;
    float: left;
    margin: 0 1rem;
    background: var(--body-bg);
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    transition: all 0.3s ease-out;
    position: relative;

}
.wrapper .main__services__social__button:hover{
    width: 200px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.wrapper #a:hover{
    border-color: #01AB2A;
}
.wrapper #b:hover{ 
    border-color: #4267b2;
}
.wrapper #c:hover{
    border-color: #25d365;
}
.wrapper .main__services__social__button .icon{
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height:50px; 
    position: relative;
    transition: all 0.3s ease-out;

}
.wrapper .main__services__social__button.whatsapps:hover .icon{
    background:#01AB2A;
}
.wrapper .main__services__social__button.facebooks:hover .icon{
    background:#4267b2;
}

.wrapper .main__services__social__button .icon #whatsappwhite, #facebookwhite{
    display: none;
}
.wrapper .main__services__social__button .icon #facebook,
.wrapper .main__services__social__button .icon #facebookwhite,
.wrapper .main__services__social__button .icon #whatsapp,
.wrapper .main__services__social__button .icon #whatsappwhite{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper .main__services__social__button .icon #facebook{
    width: 10px;
}
.wrapper .main__services__social__button .icon #whatsapp{
    width: 24px;
}
.wrapper .main__services__social__button:hover .icon #facebookwhite{
    display: inline-block;
    width: 10px;
}
.wrapper .main__services__social__button:hover .icon #whatsappwhite{
    display: inline-block;
    width: 24px;
}
.wrapper .main__services__social__button:hover .icon #facebook{
    display: none;
}
.wrapper .main__services__social__button:hover .icon #whatsapp{
    display: none;
}
.wrapper .main__services__social__button a{
    width: max-content;
    font-size: 1.4rem;
    font-weight: 500px;
    position: absolute;
    top: 50%;
    left: 65px;
    transform: translateY(-50%);
}
.wrapper .main__services__social__button a:hover{
    text-decoration: underline;
}
.wrapper .main__services__social__button.facebooks a{
    color:#4267b2;
}
.wrapper .main__services__social__button.whatsapps a{
    color:#01AB2A;
}
@media (max-width:500px){
    .wrapper .main__services__social__button:hover{
    width: 110px;
}
    .wrapper .main__services__social__button .icon{
    height: 30px;
    width: 30px;
    line-height:30px; 
}
    .wrapper .main__services__social__button{
    height:30px;
    width: 30px;
    margin: 0 .6rem;
}
    .wrapper .main__services__social__button a{
    font-size: .8rem;
    left: 35px;
}
.wrapper .main__services__social__button .icon #facebook{
    width: 7px;
}
.wrapper .main__services__social__button .icon #whatsapp{
    width: 16px;
}
.wrapper .main__services__social__button:hover .icon #facebookwhite{
    width: 7px;
}
.wrapper .main__services__social__button:hover .icon #whatsappwhite{
    width: 16px;
}
}
/* contact us --------------------------------------------------- */
.contactus__form{
    margin-top: 5rem;
}
.contactus__title{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--purple-txt);
}
.form__group .form__group--animate-label{
    position: relative;
}

.form__group .form__group--animate-label input{
    height: 2.4rem;
    width: 100%;
    padding: 1em;
    padding-top: 2em !important;
    border: 1px solid var(--lightgrey-txt2);
    color: var(--lightgrey-txt3);
    line-height: 2;
    font-size: 1rem;
    border-radius: 15px;
}
.form__group .form__group--animate-label textarea{
    padding: .7em 1em;
    border: 1px solid var(--lightgrey-txt2);
    color: var(--lightgrey-txt3);
    line-height: 2;
    font-size: 1rem;
    border-radius: 15px;
}

.form__group .form__group--animate-label label{
    position: absolute;
    top: 60%;
    margin: -1rem 0 0;
    left: 1rem;
    z-index: 7;
    color: var(--text-accent);
    transition: 0.5s;
    font-size: .9rem;
    background: var(--body-bg);
    padding: 0 .5em;
}
.form__group .form__group--animate-label textarea:focus,
.form__group .form__group--animate-label input:focus{
    outline: none;
    border-color: var(--black-txt);
}

.form__group .form__group--animate-label input:focus + label,
.form__group .form__group--animate-label input:valid + label{
    font-size: .8rem!important;
    transform: translateY(-1.5rem) !important;
}

.form__group .form__group--animate-label textarea:focus  + label,
.form__group .form__group--animate-label textarea:valid  + label{
    font-size: .8rem!important;
    transform: translateY(-1.6rem) !important;
}

.form__group .form__group--animate-label label.msg{
    top: 15%;
}

.sc__contactformbtn,
.contactformbtn{
    padding: .9em;
    width: 100%;
    border: none;
    outline: none;
    background: var(--black-txt);
    color: var(--body-bg);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 15px;
}

.sc__contactformbtn{
    padding: .65em .9em;
}

.sc__contactformbtn:focus,
.contactformbtn:focus{
   outline: none;
}


/* testimonies -------------------------------------------------- */
.testimonies{
    background-image: url('../img/testimoniesbg.jpg');
    background-repeat: no-repeat;
    background-size: 400px 500px;
    background-position: 90% 10%;
    padding-top: 15em ;
    margin-bottom: 4rem;
    margin-top: 8rem;
}
.testimonies__title{
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--black-txt);
    margin-bottom: 1.1rem;
}
.testimonies__subtitle{
    font-size: 1.5rem;
    color: var(--darkbrown-txt2);
    font-weight: 500;
}
.testimonies__slider__main{
    padding-top: 7em;
}
/*  */

.testimonies__slider .items:focus{
    outline: none !important;
}
.testimonies__slider .items{
    padding-top: 6em;
    height: 18rem !important;
    width: 18rem;
    margin: 0 1.2rem 3rem 1.2rem ;
    transition: all .5s ease;
}
.testimonies__slider .slick-center{
    transform: scale(1.1);
 }
.testimonies__slider .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
}
.testimonies__slider .slick-dots li button{
    color: transparent;
    background: transparent;
    border-radius: 50%;
    border: 1px solid var(--purple-txt);
    background-color: var(--purple-txt);
    font-size: 0px;
    height: 7px;
    width: 7px;
    padding: 0;
    transition: all .5s ease;
    outline: none;
}
.testimonies__slider .slick-dots li + li{
    margin-left: 1rem;
}
.testimonies__slider .slick-dots li.slick-active button{
    background-color: transparent;
    height: 12px;
    width: 12px;
}
/*  */
.client__comment__main{
    display: flex;
    align-items: flex-end;
    margin-top: .7rem;
}
.client__comment__main .clientprofile{
    width: 1.9rem;
    margin-right: 1.5rem;
}
.client__name{
    color: var(--lightgrey-txt4);
    font-weight: 600;
    font-size: .7rem;
    letter-spacing: .5px;
    position: relative;
}
.client__name:hover{
    text-decoration: none;
}
.client__name::before{
    content: '';
    width: .6rem;
    height: .15rem;
    background-color: var(--lightgrey-txt4);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1rem;
}
.dots{
    font-size: .9rem;
    line-height: .6;
    color: var(--darkbrown-txt);
    margin-bottom: 0;
}
.quote_left{
    margin-left: -1rem;
}
.customer__rewiew{
    font-size: .6rem;
    font-weight: 600;
    margin-bottom: 0;
}
.img-wrapper__main{
    height: 11rem;
    width: 18rem;
    
}
.img-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.5em;
    height: 11rem;
    width: 18rem;
    margin: 0 auto;
    box-shadow: 0 0 5px 5px rgb(218 213 213 / 30%);
    position: relative;
    border-radius: 1.8rem;
    background: var(--body-bg);
}
.testimonies__slider .slick-center .img-wrapper::before{
    transform: rotate(-5deg) ;
    opacity: 1;
    width: 105%;
}
.testimonies__slider .slick-center .img-wrapper::after{
    transform: rotate(-10deg) ;
    opacity: 1;
    width: 105%;
}
.img-wrapper::after,
.img-wrapper::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    transform-origin: top  left;
    border-radius: 1.8rem;
    
}
.img-wrapper::before{
    background: var(--testimonies-card2);
    transition: transform .5s linear .5s,width .5s linear .5s;
    opacity: 0;
    z-index: -1;
}
.img-wrapper::after{
    background: var(--testimonies-card3);
    transition: transform .5s linear 1s, width .5s linear 1s;
    opacity: 0;
    z-index: -2;
}
/* product ------------------------------------------------------- */
.product{
    padding-top: 3em;
}
.main___product__card{
    justify-content: space-around;
}
.product__title{
    font-size: 3rem;
    font-weight: 600;
    color: var(--purple-txt);
    margin-top: 5rem;
    
}
.product__content{
    margin-top: 4rem;
}
.product__content ul.nav__txt{
    justify-content: space-between;
    margin-bottom: 2rem !important;
}
.product__content ul.nav__txt li .nav-link{
    color: var(--lightgrey-txt);
    font-weight: 400;
    font-size: 1.2rem;
    transition: transform .3s linear, color .3s linear;
}
.product__content ul.nav__txt li .nav-link:hover{
    color: var(--black-txt);
}
.product__content ul.nav__txt li .nav-link.active{
    color: var(--black-txt);
    font-weight: 700;
    transform: scaleX(1.05);
}
.product__content ul.nav__dots{
    justify-content: center;
    align-items: center;
    height: 1.4rem;
    margin-top: 6rem !important;
}
.product__content ul.nav__dots .dots{
    background-color: black;
    height: .7rem;
    width: .7rem;
    transition: all .3s ease;
    padding: 0;
    border: 0;
    outline: none;
}
.product__content ul.nav__dots .nav-item + .nav-item{
   margin-left: .8rem;
}
.product__content ul.nav__dots .dots:hover,
.product__content ul.nav__dots .dots.active{
    transform: scale(1.4);
   
}
.tab-content .fade.show{
    opacity: 1;
    animation: fadeAnim .5s linear;
}
@keyframes fadeAnim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.product__card{
    margin-top: 3rem;
    box-shadow: 0 0 2px 2px rgb(218 213 213 / 30%),0 0 8px 5px rgb(218 213 213 / 30%);
    border-radius: 1.8rem;
    overflow: hidden;
    transition: border-radius .2s linear;
    
}
.product__card:hover{
    border-radius: 1.8rem 1.8rem 0px 0px;
}
.product__card:hover .product__card__body{
    transform: translateY(0);
    z-index: 14;
    opacity: 1;
    
}
.product__card:hover .product__card__img{
    z-index: 15;
}

.product__card__img{
    height: 15rem;
    overflow: hidden;
    position: relative;
    z-index: 13;
    width: 100%;
}

.product__card__img img{
   width: 100%;
   object-fit: cover;
   height: 100%;
}

.product__card__body{
    padding: 2em 2.3em;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform .4s ease, opacity .4s ease .2s;
    background-color: var(--body-bg);
    z-index: 12;
    border-radius: 0 0 1.8rem 1.8rem;
    box-shadow: 0 0 2px 2px rgb(218 213 213 / 30%),0 0 7px 4px rgb(218 213 213 / 30%);
    opacity: 0;
}



.product__card__title{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.p__card__link{
    font-size: .95rem;
    font-weight: 450;
    margin-bottom: .3rem;
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}
.p__card__link:hover{
    text-decoration: underline;
}
.p__card__link:focus{
    outline: none;
}
.ep{
    color: var(--darkbrown-txt3);
}
.ep:hover{
    color: var(--darkbrown-txt3);
}
.el{
    color: var(--purple-txt2);
}
.el:hover{
    color: var(--purple-txt2);
}
.pd{
    color: var(--lightgrey-txt5);
}
.pd:hover{
    color: var(--lightgrey-txt5);
}
.pd,.el,.ep{
    width: max-content;
}
.padding-is{
    padding-left: 1em !important;
}
/* PopUpBox Detail Box */
body.active{
    position: fixed;
}
.popupdetail{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20000000;
    overflow: scroll;
    background-color: rgba(78, 0, 255, .4);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s linear;
    
}
.popupdetail.active{
    opacity: 1;
    visibility: visible;
}
.popupdetail.active .popup__img__main{
    margin-top: 0px;
}
.popup{
    width: 80%;
}
.popup .main__services__social {
    position: fixed;
    bottom: 2%;
    left: 0%;
}
.popup__img__main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 90vh;
    overflow: scroll;
    cursor: pointer;
    margin-top: -30px;
    transition: margin-top .3s linear;
    box-shadow: 0 0 2px 2px rgb(218 213 213 / 30%), 0 0 8px 5px rgb(218 213 213 / 30%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.popup__img__main::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.popup__img__main {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.popup__img__main img{
    max-width: 100%;
    border: 0;
    outline: none;
}
.popupDetal__close{
    position: absolute;
    right: 4rem;
    top: 2rem;
    cursor: pointer;
}
.popupDetal__close span i{
    font-size: 2.5rem;
    color: var(--body-bg);
}
.veiw__more__btn{
    position: fixed;
    bottom: 5%;
    right: 6%;
}
.veiw__more__btn a{
    font-weight: 400;
    letter-spacing: .5px;
}
/* footer ------------------------------------------------------- */
.footer__txt{
    font-size: .9rem;
}
.footer__social__list .social__icons + .social__icons{
    margin-left: 1rem;
}
.footer__social__list .social__icons{
    color: var(--black-txt);
    font-size: 1.2rem;
}
/* Updated Bootstrap Css ---------------------------------------- */



/* Media Queries ------------------------------------------------ */
/* Small Desktop */
@media (min-width: 768px){
   /* header */
   .contact__us__btn{
    font-weight: 500;
    background-color: var(--purple-txt);
    color: var(--body-bg);
    border-radius: 30px;
    padding: .4em 1.2em .5em 1.2em;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    width: max-content;
    }
    .contact__us__btn:hover{
        color: var(--body-bg);
        text-decoration: none;
    }
    /* product */
    .product__col{
        margin: 0 .6rem;
        padding: 0 !important;
        flex: 0 0 31.333333%  !important;
        max-width: 31.333333%  !important;
    }
    

}
/* Responsive Large Tab*/
@media (max-width: 992px){
    html{
        font-size: 15.8px;
    }
    /* header */
    .header__link{
        font-size: .8rem;
        width: max-content;
    }
    .header__list .header__item + .header__item{
        margin-left: 1.5rem;
    } 
    /* showcase */
    .showcase__slider .showcase__slider__indicator{
        bottom: 15%;
    }
    /* testimonies */
    .img-wrapper__main{
        height: 10rem;
        width: 16rem;
    }
    .img-wrapper{
        height: 10rem;
        width: 16rem;
    }
    .testimonies{
        background-size: 320px 400px;
    }
    /* product */
    .product__card__body {
        padding: 1.6em 1em !important;
    }
    .product__card__title{
        margin-bottom: .9rem;
    }
    .p__card__link {
        font-size: .9rem;
    }
    
}

/* Responsive Small Tab */
@media (max-width: 768px){
    html{
        font-size: 11px;
    }
    /* showcase */
    #showcase__slider .showcase__slider__indicator{
        bottom: 20%;
    }
    /* header */
    .header__nav{
        display: flex;
    }
    .header__nav__main.active
    .header__nav__main__overlay{
        position: fixed;
        background-color: rgba(78, 0, 255, .2);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .header__nav__main.active .header__nav__main__overlay{
        visibility: visible;
        opacity: 1;
    }
    .header__nav{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 60%;
        transition: transform 0.5s ease;
        transform: translateX(100%);
        background-color: var(--purple-txt);
        z-index: 1099;
        box-shadow: rgb(82 72 72) 0px 0px 15px;
       
    }
    .header__nav__main.active .header__nav{
        transform: translateX(0);
    }
    .header__link{
        font-weight: 600;
        font-size: 1.8rem;
        color: var(--lightgrey-txt3);
    }
    .header__list{
        position: relative;
    }
    .header__list .header__item{
        margin-left: 0 !important;
        padding-bottom: .8em;
    } 
    .header__list .header__item + .header__item{
        margin-top: 2rem;
    }

    .contact__us__btn.active,
    .header__link:hover,
    .header__link.active{
        color: var(--body-bg) !important;
        text-decoration: none;
    }
    .contact__us__btn{
        font-weight: 600;
        font-size: 1.8rem;
        color: var(--lightgrey-txt3);
    }
    .contact__us__btn:hover{
        color: var(--body-bg) !important;
        text-decoration: none;
    }
    .closeNavIcon{
        position: absolute;
        right: -80%;
        top: -20%;
        font-size: 1.2rem;
        color: var(--black-txt);
        cursor: pointer;
        transition: color .5s linear;
        padding: .1em .5em;
        border: 2px solid var(--purple-txt);
        border-radius: 50%;
        box-shadow: 0 0px 6px rgba(0, 0, 0, .4), 0 8px 36px rgba(0, 0, 0, .1);
        transition: transform .5s ease;
        color: var(--body-bg);
    }
    .closeNavIcon:hover{
        transform: scale(1.1);
    }
    .header__social__icon__list .header__social__icon{
        color: var(--body-bg);
        font-size: 1.5rem;
    }
    .header__social__icon__list .header__social__icon + .header__social__icon{
        margin-left: 1rem;
    }
    .header__footer .footer__txt{
        color: var(--body-bg);
        margin-top: 1rem;
    }
    
    /* testimonise */
    .testimonies{
        background-size: 240px 300px;
    }
    /* product */
    .product__col{
        margin: 0 1rem;
        padding: 0 !important;
        flex: 0 0 45%  !important;
        max-width: 45%  !important;
    }
    .p__card__link {
        font-size: 1rem;
    }
    .product__card__body {
        padding: 2em 2em !important;
    }
    
    

}
/* Responsive Large Mobile */
@media (max-width: 500px){
	html{
		font-size: 8.8px !important;
    }
    
    /* showcase */
    #showcase__slider .showcase__slider__indicator{
        bottom: 15%;
    }
    /* header */
    .closeNavIcon{
        right: -40%;
        top: -25%;
    }
    /* services */
    .showcase__title{
        padding: 0 1em;
    }
    /* testimonise */
    .img-wrapper{
        margin: 0 auto;
    }
    .testimonies{
        background-size: 160px 200px;
    }
    /* product */
    .product__col{
        margin: 0 1rem;
        padding: 0 !important;
        flex: 0 0 44%  !important;
        max-width: 44%  !important;
    }
    .popupDetal__close{
        right: 1.8rem;
    }
}
/* Responsive Small Mobile */
@media (max-width: 295px){
    /* testimonies */
    .testimonies{
        background-size: 120px 150px;
    }
     /* product */
     .product__col{
        margin: 0 1rem;
        padding: 0 !important;
        flex: 0 0 43%  !important;
        max-width: 43%  !important;
    }
    
}